<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales_Prediction</title>
</head>

<body style="background-color: rgb(169, 125, 150);">

    <h1>Sales Prediction </h1>
    <form method="GET" action="/ItemOutletSales">
        

        <label>Item_Weight:</label>
        <input type = "text" name = "Item_Weight">
        </select>

        <br>
        <br>
                
        
        
        <label>Item_Fat_Content:</label>
        <select name = "Item_Fat_Content">
            <option value = "Low Fat">Low Fat</option>
            <option value = "Regular">Regular</option>
            <option value = "LF">LF</option>
            <option value = "low fat">low fat</option>
        </select>

        <br>
        <br>

        <label>Item_Visibility:</label>
        <input type = "text" name = "Item_Visibility">
        </select>

        <br>
        <br>
        
        <label>Item_Type:</label>
        <select name = "Item_Type">
            <option value = "Fruits and Vegetables">Fruits and Vegetables</option>
            <option value = "Snack Foods">Snack Foods</option>
            <option value = "Household">Household</option>
            <option value = "Frozen Foods">Frozen Foods</option>
            <option value = "Dairy">Dairy</option>
            <option value = "Canned">Canned</option>
            <option value = "Baking Goods">Baking Goods</option>
            <option value = "Health and Hygiene">Health and Hygiene</option>
            <option value = "Soft Drinks">Soft Drinks</option>
            <option value = "Meat">Meat</option>
            <option value = "Breads">Breads</option>
            <option value = "Hard Drinks">Hard Drinks</option>
            <option value = "Others">Others</option>
            <option value = "Starchy Foods">Starchy Foods</option>
            <option value = "Breakfast">Breakfast</option>
            <option value = "Seafood">Seafood</option>
        </select>

        <br>
        <br>

        <label>Item_MRP:</label>
        <input type = "text" name = "Item_MRP">
        </select>

        <br>
        <br>
      
        <label>Outlet_Identifier:</label>
        <select name = "Outlet_Identifier">
            <option value = "OUT027">OUT027</option>
            <option value = "OUT013">OUT013</option>
            <option value = "OUT049">OUT049</option>
            <option value = "OUT046">OUT046</option>
            <option value = "OUT035">OUT035</option>
            <option value = "OUT045">OUT045</option>
            <option value = "OUT018">OUT018</option>
            <option value = "OUT017">OUT017</option>
            <option value = "OUT010">OUT010</option>
            <option value = "OUT019">OUT019</option>
           
        </select>

        <br>
        <br>
        <label>Outlet_Establishment_Year:</label>
        <input type = "text" name = "Outlet_Establishment_Year">
        </select>

        <br>
        <br>
        <label>Outlet_Size:</label>
        <input type = "text" name = "Outlet_Size">
        </select>

        <br>
        <br>
        
        <label>Outlet_Location_Type:</label>
        <select name = "Outlet_Location_Type">
            <option value = "Tier 3">Tier 3</option>
            <option value = "Tier 2">Tier 2</option>
            <option value = "Tier 1">Tier 1</option>
        </select>

        <br>
        <br>
        

        <label>Outlet_Type:</label>
        <select name = "Outlet_Type">
            <option value = "Supermarket Type1">Supermarket Type1</option>
            <option value = "Grocery Store">Grocery Store</option>
            <option value = "Supermarket Type3">Supermarket Type3</option>
            <option value = "Supermarket Type2">Supermarket Type2</option>

        </select>
        <br>
        <br>
        

        <input type = "submit" value="SUBMIT">

        <br>

        <p> Seals Price Prediction <b> {{ prediction }} /- Rs.</b> Only </p>

    </form>

</body>
</html>
